@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body{
font-family: 'Architects Daughter', cursive;
background-color:;}
.menu li ,head ,.text{
display: inline;
list-style-type:none;
color:#042039;
margin:50px;
}
header,p{
color:#042039;
}
h2{
color:#51ade5;}
strong,a{
color:#51ade5}
button{
	padding:5px;
	height:30px;
	background-color: #002D40;
	color:white;
	border:inset 2px grey;
	border-radius:5px;
}
h3{
color:#050a30;
background-color:#edf0f3;}
.head,footer{
background-color:#c6e9f6;
color:#042039;}
a:link{
text-decoration:none;}
.fb,.insta,.link,.tweet{
	margin-left:0%;
margin-top:0%;}
.Res-Soc li{
    padding: 100px ;
}
.reseauSociaux a{
    text-decoration: none;
}
.RS img{
    width: 20px;
}
.RS{
    position: absolute;
    right: 10px;
}
ul li{
	list-style-type:none;
display:inline;}
.RDV{
margin-left:90%;}
